.navbar-collapse{
    transition:all .8s;
    scroll-behavior: smooth;
}
/* .navbar-toggler :focus{
    box-shadow: none;
} */
/* *{
    color: #9d9d9d;
} */
li{
    cursor: pointer;
}
.social-icon:hover{
    color: #000;
    font-size: 20px;
}
.badge{
    font-size: 10px;
    background-color: #a28d5d;
    color: #fff;
}
.navbar{
    box-shadow: 0 -1px #f1eee7 inset;
    background: #fff;
}
.cart-empty-btn{
    background: linear-gradient(to left, #a28d5d 50%, #ffffff00 50%) right;
    background-size: 201%;
    color: #fff;
    transition: .5s ease-in-out;
    border: 1px  solid #a28d5d;
    scroll-behavior: smooth;
    border-radius: 0;
}
.cart-empty-btn:hover{
    color: #a28d5d;
    background-position: left;
}
.checkout-btn{
    background: linear-gradient(to left, #a28d5d 50%, #ffffff00 50%) right;
    background-size: 201%;
    color: #fff;
    transition: .5s ease-in-out;
    border: 1px  solid #a28d5d;
    scroll-behavior: smooth;
    border-radius: 0;
}
.checkout-btn:hover{
    color: #a28d5d;
    background-position: left;
}