<nav class="navbar fixed-top navbar-lg navbar-light">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center" style="width: 85%;">
            <div class=" d-flex justify-content-md-center ms-5 ps-lg-5"
                style="width: 93%; position: relative ; left: 8%;">
                <a class="navbar-brand" routerLink="/"><img src="assets/images/logo.png" alt="logo"
                        style="width: 80px;"></a>
            </div>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#cart-sidebar" aria-controls="offcanvasRight" aria-expanded="false"
                aria-label="Toggle navigation" style="position: relative; left: 6%;">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill  ">
                    {{cartCount}}
                </span>
                <i class="fa-solid fa-cart-plus" style="color: #a28d5d;"></i>
            </button>
        </div>
        <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->

        <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-sidebar"
            aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbar-sidebar" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header mx-3">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
                <img [src]="userImage" width="50px" height="50px" style="border-radius: 50%; cursor: pointer;"
                    alt="profile" class="me-3" routerLink="/profile">
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item py-3 mx-3 " style="border-bottom: 2px solid #9d9d9d;">
                        <a class="text-decoration-none fw-bold Headings" routerLink="/"
                            style="color: #484848; font-size: 20px;">Home</a>
                    </li>
                    <li class="nav-item py-3 mx-3  d-flex justify-content-between align-items-center"
                        style="border-bottom: 2px solid #9d9d9d;">
                        <a class="text-decoration-none fw-bold Headings" routerLink="/products"
                            style="color: #484848; font-size: 20px;">Shop</a>
                        <i class="fa-solid fa-plus" style="color: #484848;"></i>
                    </li>
                    <li class="nav-item py-3 mx-3 " style="border-bottom: 2px solid #9d9d9d;">
                        <a class="text-decoration-none fw-bold Headings" routerLink="/newarrivals"
                            style="color: #484848; font-size: 20px;">New</a>
                    </li>
                    <li class="nav-item py-3 mx-3 " style="border-bottom: 2px solid #9d9d9d;">
                        <a class="text-decoration-none fw-bold Headings" routerLink="/products"
                            style="color: #484848; font-size: 20px;">Search</a>
                    </li>
                    <li class="nav-item py-3 mx-3  " style="border-bottom: 2px solid #9d9d9d;">
                        <a class="text-decoration-none fw-bold Headings" style="color: #484848; font-size: 20px;"
                            routerLink="/allcategory">All Categories</a>
                    </li>
                    <li class="nav-item py-3 mx-3  " style="border-bottom: 2px solid #9d9d9d;">
                        <a class="text-decoration-none fw-bold Headings" style="color: #484848; font-size: 20px;"
                            routerLink="/orders">My Orders</a>
                    </li>
                    <li class="nav-item py-3 mx-3 mb-3 " style="border-bottom: 2px solid #9d9d9d;">
                        <a class="text-decoration-none fw-bold Headings" routerLink="/login"
                            style="color: #484848; font-size: 20px;">Login</a>
                    </li>
                    <li class="py-1 mx-3" routerLink="/sizechart">
                        <a>Size Chart</a>
                    </li>
                    <li class="py-1 mx-3" >
                        <a>Faq</a>
                    </li>
                    <li class="py-1 mx-3" >
                        <a>Return Policy</a>
                    </li>
                    <li class="py-1 mx-3" routerLink="/contact">
                        <a>Contact</a>
                    </li>
                    <li class="py-1 mx-3" routerLink="/register">
                        <a>Account</a>
                    </li>
                </ul>
                <div class=" mx-3 d-flex justify-content-between py-3 mt-5" style=" border-top: 2px solid #9d9d9d;">
                    <i class="fa-brands fa-facebook-f social-icon"></i>
                    <i class="fa-brands fa-whatsapp social-icon"></i>
                    <i class="fa-brands fa-x-twitter social-icon"></i>
                    <i class="fa-brands fa-instagram social-icon"></i>
                    <i class="fa-brands fa-youtube social-icon"></i>
                </div>
                <button class=" checkout-btn py-2 w-100 mt-2" style=" letter-spacing: 2px; width: 260px;"
                    (click)="handleLogout()" *ngIf="loginStatus==true">LOGOUT</button>
            </div>
        </div>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="cart-sidebar" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header mx-3">
                <h4 class="Headings">Cart</h4>
                <button type="button" class="btn-close text-reset me-3" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div>
                <div style="border: 1px  solid #9d9d9d; " class="d-flex justify-content-evenly align-items-center">
                    <h6 class="py-2 text-center">Free Delivery For ₹500 Above Purchase</h6>
                    <i class="fa-solid fa-expand" style="cursor: pointer;" routerLink="/cartexpand"></i>
                </div>
                <div style="height: 480px ; overflow-y: scroll;" *ngIf="cartCount>0">
                    <div class="card mb-3 mt-4 w-100 p-2" style="border-radius: 0; border: none;"
                        *ngFor="let i of cartProducts">
                        <div class="row g-0 w-100">
                            <div class="col-4">
                                <img src="{{BASE_URL}}/upload/{{i.thumbnail}}" class="img-fluid" alt="..."
                                    style="height: 147px;">
                            </div>
                            <div class="col-8 d-flex justify-content-center align-items-center px-2">
                                <div class="card-body py-0">
                                    <h5 class="card-category mb-2 Headings">{{i.category}}</h5>
                                    <h6 class="mb-2">Size : {{i.size}}</h6>
                                    <h6 class="">Price : {{i.offerprice | currency :"INR"}}</h6>
                                    <div routerLink="/sizechart" class="d-flex align-items-center mb-1"
                                        style="cursor: pointer;">
                                        <img src="assets/images/size-chart.png" alt="" width="30px"><span
                                            class="mx-2">Size Chart</span>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="d-flex">
                                            <button class="px-3 py-1 "
                                                style="border: 1px  solid #9d9d9d; background-color: transparent; "
                                                (click)="handleQuantityDecrease(i._id)">-</button>
                                            <input type="text" readonly value="{{i.quantity}}"
                                                style="width: 50px; border: 1px  solid #9d9d9d;" class="text-center">
                                            <button class="px-3 py-1"
                                                style="border: 1px  solid #9d9d9d; background-color: transparent;"
                                                (click)="handleQuantityIncrease(i._id)">+</button>
                                        </div>
                                        <h6 style="font-size: 11px; text-decoration: underline; cursor: pointer;"
                                            class="Headings" (click)="handleRemoveFromCart(i._id)">Remove
                                        </h6>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="cartCount==0">
                    <div style="height: 480px ;" class="d-flex justify-content-center align-items-center flex-column">
                        <h2 class="Headings">Empty Cart</h2>
                        <button class=" checkout-btn py-2 mt-3 " style=" letter-spacing: 2px; width: 25%;"
                            routerLink="/products">Add
                            Now</button>
                    </div>
                </div>
                <div class="mx-2 my-3">
                    <h6 style="font-size: 12px;">
                        <span style="font-size: 13px ; color: #000;">Add Order Note</span>
                        Shipping, taxes and discount codes calculated at checkout.
                    </h6>
                    <button class=" checkout-btn py-2 w-100 mt-2" style=" letter-spacing: 2px; width: 260px;"
                        routerLink="/checkout" [disabled]="!cartProducts">Cheack Out Now</button>
                </div>
            </div>
        </div>
    </div>
</nav>