<nav class="navbar navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand ms-5" routerLink="/"><img src="assets/images/logo.png" alt="logo"
            style="width: 80px;"></a>
        <button class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#navbar-sidebar"
            aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbar-sidebar" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header mx-3">
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <ul class="p-5">
                <li class="nav-item py-3 mx-3 mb-3 " style="border-bottom: 2px solid #9d9d9d;">
                    <a class="text-decoration-none fw-bold Headings" routerLink="/adminhome"
                        style="color: #484848; font-size: 20px;">Home</a>
                </li>
                <li class="nav-item py-3 mx-3 mb-3 " style="border-bottom: 2px solid #9d9d9d;">
                    <a class="text-decoration-none fw-bold Headings" routerLink="/adminaddproduct"
                        style="color: #484848; font-size: 20px;">Add Products</a>
                </li>
                <li class="nav-item py-3 mx-3 mb-3 " style="border-bottom: 2px solid #9d9d9d;">
                    <a class="text-decoration-none fw-bold Headings" routerLink="/adminaddbrandcategory"
                        style="color: #484848; font-size: 20px;">Add Category</a>
                </li>
                <li class="nav-item py-3 mx-3 mb-3 " style="border-bottom: 2px solid #9d9d9d;">
                    <a class="text-decoration-none fw-bold Headings" routerLink="/adminaddbrandcategory"
                        style="color: #484848; font-size: 20px;">Add Brand</a>
                </li>
                <li class="nav-item py-3 mx-3 mb-3 " style="border-bottom: 2px solid #9d9d9d;">
                    <a class="text-decoration-none fw-bold Headings" routerLink="/adminorderlist"
                        style="color: #484848; font-size: 20px;">Order Lists</a>
                </li>
                <li class="nav-item py-3 mx-3 mb-3 " style="border-bottom: 2px solid #9d9d9d;">
                    <a class="text-decoration-none fw-bold Headings" routerLink="/brands"
                        style="color: #484848; font-size: 20px;">Brand Lists</a>
                </li>
            </ul>

            <div class="mx-3 ">
                <button class=" logout-btn py-2 w-100 mt-2 " style=" letter-spacing: 2px; " (click)="handleLogout()"
                >LOGOUT</button>
            </div>
        </div>

    </div>
</nav>