<app-header></app-header>

<div class="container py-5 my-5">
    <h2 class="Headings mb-5 text-center">Check Out Now</h2>
    <div class="row gx-o mx-5 ">
        <div class="col-md-6 mb-5" style="height: 600px ; overflow-y: scroll; scroll-behavior: smooth;">
            <div class="row g-0 mb-3 py-2" style="border-bottom: 1px solid #9d9d9d;" *ngFor="let i of cartProducts">
                <div class="col-2 d-flex justify-content-center">
                    <img src="{{BASE_URL}}/upload/{{i.thumbnail}}" alt="" class="img-fluid"
                        style="width: 100px; height: 80px;">
                </div>
                <div class="col-7  d-flex px-3 align-items-center ">
                    <div>
                        <h6>Category Name : {{i.category}}</h6>
                        <h6>Size : {{i.size}}</h6>
                        <h6>MRP : <span style="text-decoration: line-through;">{{i.mrp | currency :"INR"}}</span> </h6>
                        <h6>Price : {{i.offerprice | currency :"INR"}}</h6>
                        <h6>Quantity : {{i.quantity}}</h6>
                    </div>
                </div>
                <div class="col-3 d-flex justify-content-center align-items-center">
                    <div>
                        <h5 style="text-decoration: line-through;">{{i.mrp * i.quantity}}</h5>
                        <h5>{{i.totalprice | currency :"INR"}} </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex flex-column align-items-center my-4" style="background-color: #f5f5f2;"
            title="Enter Shipping Address For Payment">
            <div class="w-100 px-lg-5 my-4">
                <h5 class="Headings text-center mb-3">Shipping Address</h5>
                <form action="" [formGroup]="checkOutForm">
                    <div class="d-flex">
                        <div class="form-floating mb-2 w-50 me-2">
                            <input type="text" class="form-control" name="name" formControlName="name" required
                                id="floatingname" style="border-radius: 0;">
                            <label for="floatingname" style="color: #000;">Name</label>
                        </div>
                        <div class="form-floating mb-2 w-50 ms-2">
                            <input type="text" class="form-control" name="pincode" formControlName="pincode" required
                                id="floatingpincode" style="border-radius: 0;">
                            <label for="floatingpincode" style="color: #000;">Pincode</label>
                        </div>
                    </div>
                    <div class="form-floating mb-2 w-100 ">
                        <input type="number" class="form-control" name="phone" formControlName="phone" required
                            id="floatingphone" style="border-radius: 0;">
                        <label for="floatingphone" style="color: #000;">Phone Number</label>
                    </div>
                    <div class="form-floating mb-2 w-100 ">
                        <input type="text" class="form-control" name="address" formControlName="address" required
                            id="floatingaddress" style="border-radius: 0;">
                        <label for="floatingaddress" style="color: #000;">Address</label>
                    </div>
                </form>
                <h6 style="font-size: 12px;">*delivery Expected on {{deliveryDate | date}}</h6>
            </div>
            <div class=" w-100 d-flex justify-content-evenly ">
                <div>
                    <h6 class="mb-2">Total MRP Amount :</h6>
                    <h6 class="mb-2">Total Amount : </h6>
                    <h6 class="mb-2">Shipping Charge :</h6>
                    <h6 class="mb-2">you saved :</h6>
                    <h6 class="mb-2">Total Price :</h6>
                </div>
                <div>
                    <h6 class="mb-2" style="text-decoration: line-through;">{{mrpTotalAmount | currency :"INR"}}</h6>
                    <h6 class="mb-2">{{totalAmount | currency :"INR"}}</h6>
                    
                    <div *ngIf="cartProducts.length>0">
                        <h6 class="mb-2" *ngIf="totalAmount<500">₹49</h6>
                        <h6 class="mb-2" *ngIf="totalAmount>=500" title="Free Delivery For ₹500 Above Purchase"><span
                                style="text-decoration: line-through;" class="me-3">₹49</span>Free</h6>
                                <h6 class="mb-2" *ngIf="totalAmount<500">{{totalAmount-mrpTotalAmount | currency :"INR"}}</h6>
                                <h6 class="mb-2" *ngIf="totalAmount>=500">{{totalAmount-mrpTotalAmount-49 | currency :"INR"}}</h6>
                        <h6 class="mb-2">{{totalCartPrice}}</h6>
                    </div>
                    <h6 class="mb-2" *ngIf="cartProducts.length==0">₹0</h6>
                    <h6 class="mb-2" *ngIf="cartProducts.length==0">₹0</h6>
                    <h6 class="mb-2" *ngIf="cartProducts.length==0">₹0</h6>
                </div>
            </div>
            <div class="px-5 w-100 my-3" *ngIf="checkOutForm.valid && cartProducts.length>0">
                <ngx-paypal [config]="payPalConfig"></ngx-paypal>
            </div>

        </div>
    </div>
</div>


<app-footer></app-footer>