<app-header></app-header>
<div class="container ">
    <div class="row mt-5  pt-5">
        <div class="col-lg-3 d-md-none d-lg-block"></div>
        <div class="col-lg-6 col-md-9 d-flex justify-content-center mb-3">
            <h2 class="Headings">Home Goods</h2>
        </div>
        <div class="col-md-3 col-sm-12 d-flex justify-content-md-end justify-content-center mb-3">
            <div class="dropdown">
                <button class=" dropdown-toggle py-2 px-3" type="button" data-bs-toggle="dropdown" style="background-color: transparent; border: 1px solid #9d9d9d; font-size: 12px;"
                    aria-expanded="false">
                    Featured
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item">Price: Low to High</a></li>
                    <li><a class="dropdown-item">Price: High to Low</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6 justify-content-center">
            <div class="card position-relative" style="width: 18rem; border: none;">
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill  d-flex justify-content-center align-items-center" style=" background-color: #a28d5d; height: 40px ; width: 40px;">
                    <span style="color: #fff;">New</span>
                </span>
                <img src="https://provinceofcanada.com/cdn/shop/files/Lead-SuperBlue-Women-Short-1S8A9726_400x.jpg?v=1712171976"
                    class="card-img-top card-images-1 " alt="...">
                <div class="card-body">
                    <h5 class="card-title Headings text-center">Blue Shorts For Women</h5>
                </div>
                <a class="stretched-link" routerLink="/login"></a>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>