<app-header></app-header>

<div class="my-5 container">
    <h2 class="Headings py-5 text-center">Cart</h2>

    <div class="mx-lg-5 px-lg-5" *ngIf="cartProducts.length>0 ; else elsediv">
        <table class="w-100 ">
            <tr style="border-bottom: 1px solid #9d9d9d; ">
                <th class="text-start w-50">product</th>
                <th class="text-center">Quantity</th>
                <th class="text-end">Total Price</th>
            </tr>
            <tr *ngFor="let i of cartProducts">
                <td class="d-flex align-items-center py-4">
                    <img src="{{BASE_URL}}/upload/{{i.thumbnail}}" alt="" class="img-fluid me-4"
                        style="width: 100px; height: 90px;">
                    <div class="mx-5">
                        <h5 class="card-category mb-2 Headings">{{i.category}}</h5>
                        <h6 class="mb-2">Size : {{i.size}}</h6>
                        <h6 class="mb-2">Price : {{i.offerprice | currency :"INR"}}</h6>
                    </div>
                </td>
                <td>
                    <div class="d-flex align-items-center  justify-content-center">
                        <button class=" btn" (click)="handleQuantityDecrease(i._id)">-</button>
                        <input type="text" value="{{i.quantity}}" readonly style="width: 50px;" class="text-center">
                        <button class="btn" (click)="handleQuantityIncrease(i._id)">+</button>
                    </div>
                    <h6 style="font-size: 11px; text-decoration: underline; cursor: pointer;" class="Headings text-center mt-2" (click)="handleRemoveFromCart(i._id)">Remove
                    </h6>
                </td>
                <td>
                    <div class="d-flex justify-content-end align-items-center">
                        <h5>₹599</h5>
                    </div>
                </td>
            </tr>
        </table>
        <div class="d-flex justify-content-center">
            <button class=" me-3 reset-btn py-2 mt-3" style=" letter-spacing: 2px; width: 25%;"
                (click)="handleEmptyCart()">CLEAR CART</button>
            <button class=" ms-3 checkout-btn py-2 mt-3" style=" letter-spacing: 2px; width: 25%;"
                routerLink="/checkout">CHECK OUT NOW</button>
        </div>

    </div>
    <div>
        <ng-template #elsediv>
            <div class="d-flex align-items-center flex-column">
                <h2 class="Headings text-center py-3">Empty Cart</h2>
                <button class=" checkout-btn py-2 mt-3 " style=" letter-spacing: 2px; width: 25%;"
                    routerLink="/products">Add
                    Now</button>
            </div>
        </ng-template>
    </div>
</div>



<app-footer></app-footer>