<app-admin-header></app-admin-header>

<div class="container my-5 py-5">
    <div>
        <h2 class="Headings text-center">Edit Product</h2>
        <form action="" class="" (ngSubmit)="handleEditProduct()">
            <div class="row gx-o p-5">

                <div class="col-md-5 d-flex justify-content-center align-items-center mb-4 p-lg-5">
                    <label htmlfor="product-img">
                        <input type="file" class="d-none" name="thumbnail" id="product-img"
                            (change)="getThumbnailFile($event)">
                        <img [src]="thumbnailImg" style="height: 300px; width: 350px;" alt="" class="img-fluid"
                            title="Click for Edit">
                    </label>
                </div>
                <div class="col-md-7 mb-4  p-lg-5  d-flex justify-content-center align-items-center">
                    <div>
                        <div class="d-flex w-100 justify-content-between">
                            <div class="form-floating mb-3 w-100 me-2">
                                <input type="number" class="form-control" [(ngModel)]="productsData.mrp" name="MRP"
                                    pattern="[0-9]*" required id="floatingMRP" style="border-radius: 0;">
                                <label for="floatingMRP" style="color: #000;">MRP</label>
                            </div>
                            <div class="form-floating mb-3 w-100 ms-2">
                                <input type="number" class="form-control" name="offerPrice" required pattern="[0-9]*"
                                    [(ngModel)]="productsData.offerprice" id="floatingOfferPrice"
                                    style="border-radius: 0;">
                                <label for="floatingOfferPrice" style="color: #000;">Offer Price</label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly mb-3">
                            <h6 class="me-2 my-auto">Available Sizes :</h6>
                            <div class="ms-2 w-100">
                                <label for="#trending">Small :</label>
                                <select class="form-select " aria-label="Default select example "
                                    [(ngModel)]="productsData.size_small" name="small"
                                    style="background-color: transparent; border: 1px solid #9d9d9d;">
                                    <option selected disabled>Small</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="ms-2 w-100">
                                <label for="#trending">Medium :</label>
                                <select class="form-select" aria-label="Default select example"
                                    [(ngModel)]="productsData.size_medium" name="medium"
                                    style="background-color: transparent; border: 1px solid #9d9d9d;">
                                    <option selected disabled>Medium</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="ms-2 w-100">
                                <label for="#trending">Large :</label>
                                <select class="form-select " aria-label="Default select example "
                                    [(ngModel)]="productsData.size_large" name="large"
                                    style="background-color: transparent; border: 1px solid #9d9d9d;">
                                    <option selected disabled>Large</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="ms-2 w-100">
                                <label for="#trending">XL :</label>
                                <select class="form-select " aria-label="Default select example "
                                    [(ngModel)]="productsData.size_XL" name="xl"
                                    style="background-color: transparent; border: 1px solid #9d9d9d;">
                                    <option selected disabled>XL</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex justify-content-evenly mb-3">

                            <div class="me-2 w-100">
                                <label for="#trending">New Arrivals :</label>
                                <select class="form-select " aria-label="Default select example "
                                    [(ngModel)]="productsData.newarrival" name="newarrival"
                                    style="background-color: transparent; border: 1px solid #9d9d9d;">
                                    <option selected disabled>New Arrivals</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>
                            <div class="ms-2 w-100">
                                <label for="#trending">Trending :</label>
                                <select class="form-select" aria-label="Default select example "
                                    [(ngModel)]="productsData.trending" name="trending"
                                    style="background-color: transparent; border: 1px solid #9d9d9d;">
                                    <option selected disabled>Trending</option>
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                </select>
                            </div>

                        </div>
                        <button class=" me-3 w-100 update-btn py-2" style=" letter-spacing: 2px;" >Update</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<app-adminfooter></app-adminfooter>