<app-header></app-header>

<div class="container my-5 px-md-5 py-5">
    <h2 class="text-center Headings my-4">T-Shirt Size Chart</h2>
    <table class="table">
        <tr style="border-bottom: 1px solid #9d9d9d; " class="fw-b">
            <th class="py-2 fw-bold" style="color: #000;">Size (inches)</th>
            <th style="color: #000;" class="fw-bold">S</th>
            <th style="color: #000;" class="fw-bold">M</th>
            <th style="color: #000;" class="fw-bold">L</th>
            <th style="color: #000;" class="fw-bold">XL</th>
        </tr>
        <tr>
            <td  class="py-2">Chest</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            <td>44</td>
        </tr>
        <tr>
            <td  class="py-2">Length</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            
        </tr>
        <tr>
            <td class="py-2">Sleave</td>
            <td>7</td>
            <td>7.5</td>
            <td>8</td>
            <td>8.5</td>
        </tr>
    </table>
    <h2 class="text-center Headings my-4">Shorts Size Chart</h2>
    <table class="table">
        <tr style="border-bottom: 1px solid #9d9d9d; " class="fw-b">
            <th class="py-2 fw-bold" style="color: #000;">Size (inches)</th>
            <th style="color: #000;" class="fw-bold">S</th>
            <th style="color: #000;" class="fw-bold">M</th>
            <th style="color: #000;" class="fw-bold">L</th>
            <th style="color: #000;" class="fw-bold">XL</th>
        </tr>
        <tr>
            <td  class="py-2">Waist (IN)</td>
            <td>26</td>
            <td>28</td>
            <td>30</td>
            <td>32</td>
        </tr>
        <tr>
            <td  class="py-2">Hip (IN)</td>
            <td>36</td>
            <td>38</td>
            <td>40</td>
            <td>42</td>
            
        </tr>
        <tr>
            <td class="py-2">Front Rise (IN)</td>
            <td>10</td>
            <td>10.5</td>
            <td>11</td>
            <td>11.5</td>
        </tr>
        <tr>
            <td class="py-2">Back Rise (IN)</td>
            <td>13</td>
            <td>13.5</td>
            <td>14</td>
            <td>14.5</td>
        </tr>
        <tr>
            <td class="py-2">Length</td>
            <td>10</td>
            <td>10.5</td>
            <td>11</td>
            <td>11.5</td>
        </tr>
    </table>
</div>

<app-footer></app-footer>