

<app-header></app-header>

<div class="container py-5 my-5">
    <h2 class="Headings text-center mb-5">Profile</h2>
    <form  (ngSubmit)="handleUserUpdate()" #updateForm="ngForm">
        <div class="row g-0 px-md-5 mb-4">
            <div class="col-md-3 p-2 d-flex justify-content-center align-items-center">
                <label htmlfor="profile-img">
                    <input type="file" class="d-none form-control" name="user_image" id="profile-img" [(ngModel)]="userData.user_image" required (change)="getUserImageFile($event)" >
                    <img [src]="userImage" alt="profile" class="img-fluid" title="Click For Edit"
                    width="200px" height="100px" style="border-radius: 50%;">
                </label>
                
            </div>
            <div class="col-md-9 d-flex justify-content-center align-items-center mb-4">
                <div class="row g-0 w-100">
                    <div class="col-6 px-2">
                        <div class="form-floating mb-3 ">
                            <input type="text" class="form-control" [(ngModel)]="userData.firstname"  name="first name" pattern="[a-zA_Z]*" required id="firstname" #firstname="ngModel"
                                style="border-radius: 0;">
                            <label for="firstname" style="color: #000;">First Name</label>
                            <div class="text-danger" *ngIf="firstname.invalid && firstname.touched">
                                Invalid
                            </div>
                        </div>  
                        <div class="form-floating mb-3 ">
                            <input type="text" class="form-control" name="Username"  [(ngModel)]="userData.username" pattern="[a-zA-Z0-9_]*" required id="Username" #username="ngModel"
                                style="border-radius: 0;">
                            <label for="Username" style="color: #000;">User Name</label>
                            <div class="text-danger" *ngIf="username.invalid && username.touched">
                                Invalid
                            </div>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="email" class="form-control" name="email" [(ngModel)]="userData.email" email required id="email" #email="ngModel"
                                style="border-radius: 0;">
                            <label for="email" style="color: #000;">Email Address</label>
                            <div class="text-danger" *ngIf="email.invalid && email.touched">
                                Invalid
                            </div>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="text" class="form-control" name="address" [(ngModel)]="userData.address" pattern="[a-zA_Z0-9 ]*"  required id="address" #address="ngModel"
                                style="border-radius: 0;">
                            <label for="address" style="color: #000;">Address</label>
                            <div class="text-danger" *ngIf="address.invalid && address.touched">
                                Invalid
                            </div>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="number" class="form-control" name="pincode"  [(ngModel)]="userData.pincode" pattern="[0-9]*" required id="pincode" #pincode="ngModel"
                                style="border-radius: 0;">
                            <label for="pincode" style="color: #000;">PinCode</label>
                            <div class="text-danger" *ngIf="pincode.invalid && pincode.touched">
                                Invalid
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-6 px-2">
                        <div class="form-floating mb-3 ">
                            <input type="text" class="form-control" name="lastname "  [(ngModel)]="userData.lastname" pattern="[a-zA_Z]*" required id="lastname" #lastname="ngModel"
                                style="border-radius: 0;">
                            <label for="lastname" style="color: #000;">Last Name</label>
                            <div class="text-danger" *ngIf="lastname.invalid && lastname.touched">
                                Invalid
                            </div>
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="number" class="form-control" name="phone " [(ngModel)]="userData.phone" pattern="[0-9]*"[maxLength]="10" required id="phone" #phone="ngModel"
                                style="border-radius: 0;">
                            <label for="phone" style="color: #000;">Phone Number</label>
                            <div class="text-danger" *ngIf="phone.invalid && phone.touched">
                                Invalid
                            </div>
                        </div>
                        <div class="form-floating mb-3 ">
                            <select class="form-select " aria-label="Default select example" [(ngModel)]="userData.gender" required name="gender"  #gender="ngModel"
                            style="background-color: transparent; border: 1px solid #d6d6d6; border-radius: 0; height: 57px; ">ger
                            <option selected disabled>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select> 
                        </div>
                        <div class="form-floating mb-3 ">
                            <input type="text" class="form-control" name="street " [(ngModel)]="userData.street"  required id="street" #street="ngModel"
                                style="border-radius: 0;">
                            <label for="street" style="color: #000;">Street</label>
                            <div class="text-danger" *ngIf="street.invalid && street.touched">
                                Invalid
                            </div>
                        </div>
                    </div>
                    <div class="px-2 d-flex justify-content-evenly">
                        <button class=" w-50 update-btn py-2 me-2" type="reset" style=" letter-spacing: 2px;" (click)="handleDeleteProfile()">DELETE PROFILE</button>
                        <button class=" w-50 reset-btn py-2 mx-2" type="reset" style=" letter-spacing: 2px;">RESET</button>
                        <button class=" w-50 update-btn py-2 ms-2" type="submit" style=" letter-spacing: 2px;" [disabled]="updateForm.invalid && !userData.user_image">UPDATE</button>
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


<app-footer></app-footer>