/* You can add global styles to this file, and also import other style files */
@import '~css-star-rating/css/star-rating.min.css';
@import 'ngx-toastr/toastr';

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #9d9d9d;
}
p,h1,h2,h3,h4,h5,h6{
    margin-bottom: 0px;
}
.Headings{
    font-family: "Cormorant Garamond", serif;
  font-weight: 600;
  font-style: normal;
  color: #a28d5d;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::-webkit-scrollbar{
    display: none;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: #000000;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #ffffff;
}