<div class="mat-tab-div container">
    <mat-tab-group class="my-5 mx-3 mat-tab-div" style="height: 500px;">
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="Headings" title="Thriller Movies">New Arrivals</span>
            </ng-template>
            <div class="row gx-0">
                <div class="tab-cols d-flex">
                    <div class="col-lg-3 d-flex justify-content-center px-2"
                        *ngFor="let i of newArrivalsData ">
                        <div class="card" style="width: 100%; border: none;">
                            <img src="{{BASE_URL}}/upload/{{i.thumbnail}}" height="250px" width="100%"
                                class="card-img-top card-images-1 " alt="...">
                            <div class="card-body">
                                <h6 class="card-title Headings text-center"><span style="text-decoration: line-through;" class="me-2">{{i.mrp | currency :"INR"}}</span>{{i.offerprice | currency :"INR"}}</h6>
                            </div>
                            <a class="stretched-link" routerLink="/productsview/{{i._id}}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button class=" me-3 home-btn-2 py-2 mt-3" style=" letter-spacing: 2px; width: 260px;"
                        routerLink="/newarrivals">
                        MORE NEW ARRIVALS</button>
                </div>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <span class="Headings" title="Thriller Movies">Kids</span>
            </ng-template>
            <div class="row gx-0 ">
                <div class="tab-cols d-flex">
                    <div class="col-lg-3 d-flex justify-content-center px-2"
                        *ngFor="let i of categoryKidsData">
                        <div class="card" style="width: 100%; border: none;">
                            <img src="{{BASE_URL}}/upload/{{i.thumbnail}}" height="250px" width="100%"
                                class="card-img-top card-images-1 " alt="...">
                            <div class="card-body">
                                <h6 class="card-title Headings text-center"><span style="text-decoration: line-through;" class="me-2">{{i.mrp | currency :"INR"}}</span>{{i.offerprice}}</h6>
                            </div>
                            <a class="stretched-link" routerLink="/productsview/{{i._id}}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <button class=" me-3 home-btn-2 py-2 mt-3" style=" letter-spacing: 2px; width: 260px;"
                        routerLink="/category/KIDS">
                        MORE KIDS</button>
                </div>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>